body {
    font-family: "Vazirmatn", sans-serif;
    max-width: 1200px;
    padding: 20px;
    color: #333;
    margin: 0 auto;
}

h2, h1 {
    border-bottom: 2px solid #333;
}

h2 {
    margin-top: 40px;
}

.title {
    font-weight: bold;
}

.institution {
    margin-top: 20px;
    margin-bottom: 5px;
}

.education {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.schools, .certificates {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}
